body{
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-start;

}
img{
    width: 300px;

}
p{
color: rgb(96, 129, 189);
}
.p-gatos{
    color: crimson;

}
.p-axolotes{
    color:blueviolet;
}
.menu{display: flex;
    flex-direction: column;
    align-items: center;

}
a{
    color: deeppink;
    text-decoration: none;
}